@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom root variables */
:root {
  --background: #354029; /* Dark forest green */
  --foreground: #c9ccbb; /* Text */
  --card-bg: #6d6f52;
}

/* Body styling */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
